.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 1000;
  &__navbar {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__menu {
    display: flex;
    flex: 1 1 auto;
    margin-left: 13%;
    justify-content: space-between;
    align-items: center;
  }
}
