.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  &__promo {
    background: linear-gradient(180deg, #2769B1 0%, #09498F 100%);
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 0;
  }
  &__services {
    padding-top: 33px;
    padding-bottom: 98px;
  }
  &__partners {
    padding: 0;
  }
}